* {
    margin: 0;
    padding: 0;
}

html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    --color-6: #4051eb;
    
}

body {
    background-image: linear-gradient(135deg, var(--color-1) , var(--color-2));
    font-family: "inter";
    display: flex;
    align-items: center;
    justify-content: center;
}


/* popUp */


@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
.red-text {
    color: red;
}
.popup {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    height: 250px;
    background-color: aliceblue;
    border-radius:10px;
    animation: opacity 2s;
}
.popup-title {
    text-align: center;
    font-weight: 600;
}
.popup-instructions {
    margin: 20px 0px 20px 25px;
    font-weight: 600;
}

.popup-list {
    text-align: left;
    list-style: square;
    margin-left: 45px;
    font-size: 17px;
}
.popup-list li {
    margin-bottom: 3px;
}

.popup-list li::marker {
    color: #84f0c8;
}

.popup-btn {
    color: #000;
    background-color: var(--color-2);
    padding:15px;
    margin:25px auto;
    display: flex;
}
.popup-btn:hover {
    background-color: #cbe99c;
}

/* main */

.container {
    display:none;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 50px;
    border-radius:10px;
    animation: opacity 1s;
}

.score {
    margin: 20px 0;
}
.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color: var(--color-3);
    margin: 0 auto;
    font-size: 80px;
    display: block;
    align-items: center;
    justify-content: center;

}


button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 40px auto 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: var(--color-5);
}

#resetBtn {
    background-color: var(--color-4);
}

#DON {
    background-color: var(--color-6);
    display: block;
}


button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}


@media screen and (max-width: 600px){

    .popup {
        max-width: 320px;
        padding: 20px;
        height: 350px;
    }

    .popup-instructions {
        margin-left: 8px;
    }
    
    .popup-list {
        font-size: 15px;
        margin-left: 10px;
    }
    .brakeline {
        white-space: pre;
    }
    .popup-list li {
        margin-bottom: 10px;
    }
    
    .popup-list li::marker {
        color: #75d6b2;
    }

    .popup-pc {
        display: none;
    }
    
    .popup-btn {
        background-color: #94e7c7ea;
    }
    
    /* main */
    
       
    .container {
        width: 250px;
        padding: 35px;
    }
    
    .message {
        font-size: 20px;
    }

    .score {
        margin: 20px 0;
        font-size: 22px;
    }
    
    .dice {
        width: 80px;
        height: 80px;
        font-size: 45px;    
        display: flex;
        align-items: center;
    }
       
    
    button {
        padding: 12px 22px;
        font-size: 17px;
        margin: 40px auto 0px;
    }
}