* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* font-family: 'Rubik', sans-serif;
font-family: 'Varela Round', sans-serif; */


/* mobile
 */
html {
    height: 100%;
}

.wrap-background {
    background-image: url("background.webp");
    background-size: cover; 
    background-position: center;
}
.container-pc {
    display: none;
}

.container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}


span { 
    display: inline;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5em;
    text-align: center;
    margin: 220px 0px 10px 10px;
    font-size: 30px;
}

.container-mobile h2, h3 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
}



.container-mobile input {
    padding:10px;
    border: solid 1px #28d434;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 10px;
}
   

label {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 16px;
}    
 
.submitBtn {
    border: none;
    background-color: green;
    padding:15px;
    border-radius: 17px;    
    color: #fff;
    font-family: 'Varela Round', sans-serif;
} 

/* popup */
@keyframes popup {
    from { opacity:0}
    to { opacity:1}
}
.popup {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    animation: popup 2s;
}

.popup-text {
    box-shadow: 1px 1px 10px 10px rgba(87, 87, 87, 0.349);
    border-radius: 2px;
}

.popup-text h1,h2 {
    margin: 0px;
    text-align: center;
    margin: auto;
}

@media (min-height: 750px) {
    .wrap-background {
    height: 100vh;
    
    }
}

/* pc size */
@media screen and (min-width: 450px) {
    
    h1 {
        font-family: 'Varela Round', sans-serif;
        line-height: 1.5em;
        margin:0;
    }
    
    h2, h3 {
        font-family: 'Rubik', sans-serif;
        font-weight: normal;
        margin:10px;
        width: 100%;
    }

    .container-mobile {
        display: none;
    }

    .container-pc {
        display: block;
    }

    .container {
    height: 100vh;
    background-image: none;
    background: rgb(145,255,247);
    background: linear-gradient(9deg, rgba(145,255,247,1) 0%, rgba(255,255,255,1) 100%);
    }

    .warning {
        font-size: 3.5em;
    }
}

