* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}


body {
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("./img/background.jpg");
}

#header {
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 15px 5px;
}

img {
    width: 60px;
    display: block;
    margin: 3em auto;
}


.myDropDown  {
    padding: 10px;
    border: 1px solid #209724;
    font-family: Arial, Helvetica, sans-serif;
}


#input {
    width: 55%;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid #209724;

}

#send {
    padding: 8px;
    width: 20%; 
    background-color:#209724;
    color: #fff;
    border: 3px solid #209724;
    border-radius: 0 30px 30px 0;
}

#edit-name {
    padding-bottom: 1.2em;;
    font-size: 12px;
    border:none;
    background-color:none;
    width:1px;
    height: inherit;
    cursor: pointer;
}

h4{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 2em;
}



@media screen and (max-width: 440px){
    .header-container {
        padding: 2em 10px;
    }
    
    img {
        width: 70px;
        margin: 8.5em auto;
    }
    
    .myDropDown  {
        padding: 1em;
        width:25%;
        background-color:#fff;
    }
    
    
    #input {
        width: 40%;
        padding:1em;
    }
    
    #send {
        padding: 1em;
        border: 1px solid #209724;
    }
    
    /* #edit-name {
    } */
    
    h4{
        margin-bottom:1em;
        position: absolute;
        bottom: 0;
        width: 96%;
    }
}
