* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body, html {
    font-family: inter;
    /* min-height: 100%; */
}

.gold {
    color: rgb(225, 181, 23);
}




/* Header */

header {
    background-image: url("https://images.unsplash.com/photo-1628432136678-43ff9be34064?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=963&q=80");
    height: 208px;
    width: 100%;
    background-color: rgb(82, 82, 82);
    background-blend-mode: multiply;
    background-position: 50% 25%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header-content {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

header h1 {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1em
}
header a {
    font-size: 1.2rem;
    color: #fff;
}

/* search bar */

form {
    display: flex;
    justify-content:center;
    transform: translateY(-50%);
}
.input {
    padding: .5em;
    border-radius: 10px 0 0 10px;
    border: 1px solid #b6b6b6;
    background: url("icons8-search-26.png") no-repeat scroll 7px 7px;
    background-size: 10%;
    text-align: center;
    line-height:center;
    background-color: #fff;
    padding-left:30px;
}

.input-btn {
    padding: .65em;
    border-radius: 0 10px 10px 0;
    border: 1px solid #b6b6b6;
    background-color: #eeeeee;
    
}

/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-height: 60vh;
}
.start-exploring {
    text-align: center;
}





/* watchlist */

.back-button {
    position: absolute;
    top: 1%;
    left: 5px;
    border: 2px solid #fff;
    border-radius:50%;
}
.goldW {
    color: rgb(225, 181, 23);
    font-size: 1.7rem;
}

/* movie list */
.movie-container {
    display: flex;
    width: 90%;
    margin: 1em;
}




.details-1{
    
}


.details-1 img{
    height: 130px;
    width: 130px;
}

.details-2 {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-size:1rem;
    margin: 0 .5em;
    padding: 0;

}

.details-2 p {
    font-size:.8rem;
}

.title-rating {
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: .3em;
}

.movie-img {
    width: 30%;
    height: 80%;
}

.movie-runtime {
   font-size: .7rem;
}
.movie-genre {
    font-size: .6rem;
    font-weight: bold;
    margin: .7em 0;
}
.movie-title {
 font-size: .8rem;
}
.movie-rating {

}
.movie-plot {

}
